@font-face {
	font-family: Mark;
	font-display: swap;
	src: url("../fonts/Mark-Heavy.woff2") format("woff2"), url("../fonts/Mark-Heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Mark;
	font-display: swap;
	src: url("../fonts/Mark-Regular.woff2") format("woff2"), url("../fonts/Mark-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
